Synthèse XML/XML_Seance05/brocante.dtd

<!ELEMENT brocante (habit)*>
<!ELEMENT habit (marque?,etat,prix)>
<!ATTLIST habit age CDATA #REQUIRED>
<!ATTLIST habit type (body|pyjama|pantalon|teeshirt|pull) #REQUIRED>
<!ATTLIST habit unite (mois|ans) "mois">
<!ELEMENT prix (#PCDATA)>
<!ELEMENT marque (#PCDATA)>
<!ELEMENT etat EMPTY>
<!ATTLIST etat est (use|bon|neuf) #REQUIRED>