Synthèse XML/XML_Seance05/library.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT library (songlist, playlists?)>
<!ELEMENT songlist (song+)>
<!ELEMENT song (track_ID, name, artist?, album?, genre?, comments*)>
<!ELEMENT playlists (list)>
<!ELEMENT list (track_ID+)>
<!ATTLIST list name ID #REQUIRED>
<!ELEMENT track_ID (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT artist (#PCDATA)>
<!ELEMENT album (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT comments (#PCDATA)>
<!ATTLIST comments author CDATA #IMPLIED>