Synthèse XML/Révisions/XML_Seance02/adresses.dtd


<!ELEMENT carnetDAdresses (personne)+>
<!ELEMENT personne (nom,email*,link?)>
<!ATTLIST personne id ID #REQUIRED>
<!ATTLIST personne sexe (masculin|feminin) #IMPLIED>
<!ELEMENT nom (#PCDATA|nomDeFamille|prenom)*>
<!ELEMENT nomDeFamille (#PCDATA)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT link EMPTY>
<!ATTLIST link superieur IDREF #IMPLIED subordonnes IDREFS #IMPLIED>